#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-top: 30px;
  left: 0px;
  background-color: rgb(69, 80, 90);
  width: 100vw;
}

.card {
  padding: 2em;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    visibility: hidden;
  }
  #section-to-print {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 10cm;
    height: 210mm;
    width: 297mm;
  }

  #section-to-print {
    transform: scale(1.184);
  }
}
